@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 20 33% 97%;
    --foreground: 348 30% 18%;
    --card: 30 30% 95%;
    --card-foreground: 348 30% 18%;
    --popover: 20 33% 97%;
    --popover-foreground: 348 30% 18%;
    --primary: 348 55% 40%;
    --primary-foreground: 20 33% 97%;
    --secondary: 20 25% 90%;
    --secondary-foreground: 348 30% 18%;
    --muted: 20 20% 92%;
    --muted-foreground: 348 15% 45%;
    --accent: 348 40% 55%;
    --accent-foreground: 20 33% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 20% 88%;
    --input: 20 20% 88%;
    --ring: 348 55% 40%;
    --chart-1: 348 55% 40%;
    --chart-2: 20 40% 60%;
    --chart-3: 348 30% 55%;
    --chart-4: 30 50% 70%;
    --chart-5: 0 40% 50%;
    --radius: 0.75rem;
    --sidebar-background: 20 33% 97%;
    --sidebar-foreground: 348 30% 18%;
    --sidebar-primary: 348 55% 40%;
    --sidebar-primary-foreground: 20 33% 97%;
    --sidebar-accent: 20 25% 90%;
    --sidebar-accent-foreground: 348 30% 18%;
    --sidebar-border: 20 20% 88%;
    --sidebar-ring: 348 55% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
